In [1]:
import pandas as pd

**Sorting and Aggregation**

sorting is used to rearrange rows in a DataFrame based on the values of one or more columns.

In [19]:
data = {
    "Name":["Hayyan", "Haroon", "Khadija"],
    "Age":[19, 29, 25 ],
    "Salary":[80000, 50000, 5400 ]
}

df= pd.DataFrame(data)
df.sort_values(by=["Salary", "Age"], ascending=[True, True], inplace=True)
print(df)

      Name  Age  Salary
2  Khadija   25    5400
1   Haroon   29   50000
0   Hayyan   19   80000

**Aggregation**
summarizing data â†’ producing summary statistics.

| Function   | Description            |
| ---------- | ---------------------- |
| `sum()`    | Adds up all values     |
| `mean()`   | Computes average       |
| `median()` | Finds median           |
| `min()`    | Minimum value          |
| `max()`    | Maximum value          |
| `count()`  | Counts non-null values |
| `std()`    | Standard deviation     |
| `var()`    | Variance               |

In [24]:
data = {
    "Name":["Hayyan", "Haroon", "Khadija", "Fatima", "Rehman"],
    "Age":[19, 19, 25, 34, 27 ],
    "Salary":[80000, 50000, 54000, 72000, 58000 ]
}
df= pd.DataFrame(data)

grouped = df.groupby("Age")["Salary"].sum()
print(grouped)

Age
19    130000
25     54000
27     58000
34     72000
Name: Salary, dtype: int64