1. understand the dataset.
2. identify the problem.
3. plan next move.

After loading data set first we observe its structure like how many rows columns for basic Idea

# DATA EXPLORATION

**Rows**

In [1]:
import pandas as pd

In [2]:
df = pd.read_json('sample_Data.json')

In [ ]:
print("Display first 10 rows from top")
print(df.head(10))  #by default head() shows first 5 rows


print("Display last 10 rows from bottom")
print(df.tail(10)) #by default tail() shows last 5 rows

when we load data .
we dont these things.

- how many rows and columns
- what type of data
- missing data

we can find all the above the summarizing the data in pandas using info() func it display
- no of rows and cols along with name and data type 
- non-null counts tell if missing data in dataset. 
- memory usage of dataframe

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           20 non-null     int64
 1   name         20 non-null     object
 2   description  20 non-null     object
 3   price        20 non-null     float64
 4   category     20 non-null     object
 5   image        20 non-null     object
dtypes: float64(1), int64(1), object(4)
memory usage: 1.1+ KB

describe() in Pandas is a quick statistical summary of your dataset.

In [9]:
df.describe()

             id        price
count  20.00000    20.000000
mean   10.50000   507.687000
std     5.91608   373.008199
min     1.00000   129.950000
25%     5.75000   244.237500
50%    10.50000   374.990000
75%    15.25000   724.742500
max    20.00000  1599.990000

when analyzing we need to answer ourself these questions

1. how big is our dataset
2. what are the name of columns

To solve these problems pandas gave us 2 attr.
shape and columns

shape: tells how much number of rows and cols in our dataset returns in tuple.

columns: display the name of all columns in our dataset

In [3]:
data={
    "Name":["Ali", "Mehmood", "Akram", "Daniyal", "Habib", "Zohran", "Ghafoor", "Rehman"],
    "Age":[29, 34, 22, 38, 29, 45, 53, 60],
    "Salary":[50000, 60000, 45000, 52000, 49000, 70000, 48000, 58000],
    "Performance Score":[85, 90, 78, 92, 88, 95, 80, 54]
}

df=pd.DataFrame(data)
print(df)
print(f'Shape: {df.shape}')
print(f'Columns: {df.columns}')

      Name  Age  Salary  Performance Score
0      Ali   29   50000                 85
1  Mehmood   34   60000                 90
2    Akram   22   45000                 78
3  Daniyal   38   52000                 92
4    Habib   29   49000                 88
5   Zohran   45   70000                 95
6  Ghafoor   53   48000                 80
7   Rehman   60   58000                 54
Shape: (8, 4)
Columns: Index(['Name', 'Age', 'Salary', 'Performance Score'], dtype='object')

### **Filtering Rows based on certain conditions**.
used for example we want emplyee with salary under or above 50k, we will filter rows on basis of conditions

we are going to learn how we can solve bellow problems

- select specific column
- filter rows
- combine multiple conditions

if we want to select any col we can use square [] brackets.

for rows we will use Boolean Conditions

**Selecting columns**:
1. A series (single col of data)
2. Dataframe (Multiple cols of data)

**Filtering rows**:
1. extracting rows which met our any soecific condition 
*for example*: we want emplyee with salary under or above 50k

2. use boolean indexing

In [21]:
#For cols

# print(df)
print("Single Column")
print(df['Name'])

Single Column
0        Ali
1    Mehmood
2      Akram
3    Daniyal
4      Habib
5     Zohran
6    Ghafoor
7     Rehman
Name: Name, dtype: object

In [6]:
#selecting multiple columns
subset = df[["Name", "Salary"]]
print('Subset with multiple columns:')
print(subset)

Subset with multiple columns:
      Name  Salary
0      Ali   50000
1  Mehmood   60000
2    Akram   45000
3  Daniyal   52000
4    Habib   49000
5   Zohran   70000
6  Ghafoor   48000
7   Rehman   58000

**Filtering Row**

In [7]:
high_salary =df[df["Salary"] > 50000]
print("Employees with salary greater than 50000")
print(high_salary)

Employees with salary greater than 50000
      Name  Age  Salary  Performance Score
1  Mehmood   34   60000                 90
3  Daniyal   38   52000                 92
5   Zohran   45   70000                 95
7   Rehman   60   58000                 54

In [8]:
#Filtering based on Age  and Salary at same time
filtered_df = df[(df["Age"] > 30) & (df["Salary"] > 55000)]
print("Employees older than 30 with salary greater than 55000")
print(filtered_df)

Employees older than 30 with salary greater than 55000
      Name  Age  Salary  Performance Score
1  Mehmood   34   60000                 90
5   Zohran   45   70000                 95
7   Rehman   60   58000                 54

In [12]:
#Using OR condition -> return if only one condition is true
filtered_or = df[(df['Age']>35) | (df['Performance Score']>90)]
print("Employees older than 35 or with performance score greater than 90")
print(filtered_or)

Employees older than 35 or with performance score greater than 90
      Name  Age  Salary  Performance Score
3  Daniyal   38   52000                 92
5   Zohran   45   70000                 95
6  Ghafoor   53   48000                 80
7   Rehman   60   58000                 54